{% extends 'base.html' %}
{% block title %}Departments{% endblock title %}


{% block csslinks %}

{% load static %}
<link href="{% static 'css/templatemo-leadership-event.css' %} " rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">


{% endblock csslinks %}


{% block content %}
<section class="venue section-padding" id="computer">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-4"><u class="text-info">Computer Science and Engineering</u></h2>
            </div>

            <div class="col-lg-6">
                {% load static %}
                <img src="{% static 'images/homepage/about.jpg' %}" alt="about" width="95%" />
            </div>

            <div class="col-lg-6">
                <p>Department of Computer Science and Engineering was started in the year 2001. The department has well equipped 
                    laboratories with latest configuration and software’s,
                     and has experienced and highly qualified teaching and technical staff members
                </p>
                <p>
                    Department maintains separate library “Jnana Sangama” and the innovative cell for the students and staff for their knowledge
                     thrust and shaping the students innovativeness.
                </p>

            </div>


        </div>
    </div>
</section>



<section class="section-padding" id="ece">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-4"><u class="text-info">Electronics and Communications Engineering</u></h2>
            </div>

            <div class="col-lg-6">
                <p>The department of E&CE has highly qualified and excellent professor, Associate professors and Assistant professors. The department is aimed to fill the gap between academic and industry, and also to train the student with sound knowledge to bring awareness of latest technology in the field of electronics and communication engineering. The department is 
                    providing in-depth knowledge for a wide variety of opportunities both in the industry as well as in the R & D fields for the students.
                </p>
                <p>
                    The department faculties and students are involved in organizing of workshops/FDP/National/international conferences and technical paper preparation and presentation for constant upgradation of skills and technical knowledge.The department also motivate the students through forums like IEEE,IETE and ISTE as platform to share the technology updates by the outside resource persons and staff to satisfy industry expectations.The department has separate library, individual counseling rooms, project labs, soft skill department classes, 
                    scientific leasing process and 300 seating capacity seminar hall.
                </p>

            </div>
            <div class="col-lg-6">
                {% load static %}
                <img src="{% static 'images/homepage/ece.jpg' %}" alt="about" width="95%" />
            </div>

        </div>
    </div>
</section>



<section class="venue section-padding" id="computer">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-4"><u class="text-info">Mechanical engineering</u></h2>
            </div>

            <div class="col-lg-6">
                {% load static %}
                <img src="{% static 'images/homepage/mech.jpg' %}" alt="about" width="95%" />
            </div>

            <div class="col-lg-6">
                <p>The department was established in the year in 2003 with an intake of 60 students. The department is well equipped with 
                    full – fledged lab facility to meet the academic requirement . It has independent library, seminar hall, internet centre 
                    and computer centre with more than 100 systems to facilitate teaching CAD, CAM, SOLID EDGE, ANSYS and CNC software’s. 
                    Since 2010, the intake was increased to 120 students. The department has highly qualified, experienced, dedicated and 
                    result oriented staff members. The department emphasizes on Research and Development to enlarger extent and the project 
                    works carried out by our students has brought laurels to the department and institution by winning awards at a various levels. 
                    We are proud to say that our department has R & D centre recognized by VTU, Belgaum. The department has a mechanical engineering 
                    forum(AVENTURA), 
                    a platform to share the talents, technology updates by the students, staff and outside resource persons.
                </p>

            </div>


        </div>
    </div>
</section>

{% endblock content %}
{% block jsfiles %}

{% endblock jsfiles %}