{% extends 'base.html' %}
{% block title %}Gallery{% endblock title %}


{% block csslinks %}

{% load static %}
<link href="{% static 'css/templatemo-leadership-event.css' %} " rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">


{% endblock csslinks %}


{% block content %}
<section class="venue section-padding" id="computer">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-4">Our <u class="text-info">Gallery</u></h2>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/cse-dept1.jpg' %}" alt="cse department" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/society.jpg' %}" alt="society" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/ece-dept.jpg' %}" alt="ece department" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/hostel.jpg' %}" alt="hostel" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/canteen.jpg' %}" alt="canteen" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/classroom.jpg' %}" alt="classrooms" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/with-transport.jpg' %}" alt="transport" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/transport1.jpg' %}" alt="transport" width="95%" height="95%"/>
            </div>

            <div class="col-lg-4">
                {% load static %}
                <img src="{% static 'images/gallery/transport2.jpg' %}" alt="transport" width="95%" height="95%"/>
            </div>

        </div>
    </div>
</section>


{% endblock content %}
{% block jsfiles %}

{% endblock jsfiles %}