{% extends 'base.html' %}


        {% block title %}R L Jalappa Institute of Technology{% endblock  %}

        {% block csslinks %}
            <!-- CSS FILES -->
        
            <link rel="preconnect" href="https://fonts.googleapis.com">
            
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

            {% load static %}
            
            <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

            <link href="{% static 'css/templatemo-leadership-event.css' %} " rel="stylesheet">

            <link href="{% static 'slick/slick.css' %} " rel="stylesheet">

            <link href="{% static 'slick/slick-theme.css' %} " rel="stylesheet">
        {% endblock  %}
        
        

            {% block content %}
                <section id="section_1">
                    <div class="slick-banner">
                        <div>
                            <a  href="#"><img src="{% static 'images/homepage/placements.jpg' %}" class="image-fluid" height="600" width="100%"/></a>
                        </div>
                        <div>
                            <a  href="#"><img src="{% static 'images/homepage/cse.jpg' %}" class="image-fluid" height="600" width="100%"/></a>
                        </div>
                        <div>
                            <a  href="#"><img src="{% static 'images/homepage/placements.jpg' %}" class="image-fluid" height="600" width="100%"/></a>
                        </div>
                        <div>
                            <a  href="#"><img src="{% static 'images/homepage/cse.jpg' %}" class="image-fluid" height="600" width="100%"/></a>
                        </div>
                    </div>
                </section>


                <section class="venue section-padding" id="section_2">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-12 col-12">
                                <h2 class="mb-4">Our <u class="text-info">Story</u></h2>
                            </div>

                            <div class="col-lg-6">
                                {% load static %}
                                <img src="{% static 'images/homepage/about.jpg' %}" alt="about" width="95%" />
                            </div>

                            <div class="col-lg-6">
                                <p>R. L. Jalappa Institute of Technology (RLJIT) established in the year 2001 at Doddballapur, 
                                    Bangalore Rural District by Sri R. L. Jalappa, a visionary, social worker and educationist. 
                                    RLJIT is a unit of Sri Devaraj Urs Educational Trust (SDUET) founded in the year 1986 at Kolar to serve the people of rural 
                                    and backward classes. It is approved by AICTE – New Delhi and is affiliated to VTU- Belgaum. The institution is having well qualified, experienced and dedicated team of teaching, 
                                    non-teaching faculty and state of art laboratories in all the departments.
                                </p>
                                <p>
                                    RLJIT is spread across 34 acres of land, amidst greenery gardens having excellent infrastructure with independent block 
                                    for each department, well stacked library, equipped seminar halls, internet, Wi-Fi facility, separate hostels
                                    accommodating 600 students for boys and girls within the campus, 24hrs. medical facility, modern Gymnasium, Indoor games, 
                                    Swimming Pool national standard playgrounds and an open air theater of 2500 seating capacity.
                                </p>

                            </div>


                        </div>
                    </div>
                </section>


                <section class="contact section-padding" id="section_3">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-12 col-12">
                                <h2 class="mb-4">Our <u class="text-info">Placemets</u></h2>
                            </div>

                            <div class="col-lg-6">
                                {% load static %}
                                <img src="{% static 'images/homepage/placements.jpg' %}" width="95%"  height="95%" alt="" >
                            </div>

                            <div class="col-lg-6">
                                    <p>Our Technical staff and non technical staff are highly supportive for developing the skills set in students and placemets classes make much effective on students.</p>
                                    <p>Achievements on placements</p>
                                    <ul>
                                        <li>we got an best placemets award at Rural Area 2022</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </section>

             
                <section class="venue section-padding" id="section_4">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-12 col-12">
                                <h2 class="mb-5">Here you go <u class="text-info">Venue</u></h2>
                            </div>

                            <div class="col-lg-6 col-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.799822949041!2d77.5221887148255!3d13.300441490640742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb1de5c4a027603%3A0x82a08b0a49f1e9eb!2sR.L.Jalappa%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1656311092659!5m2!1sen!2sin" width="95%" height="95%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            
                            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                                <div class="venue-thumb bg-white shadow-lg">
                                    
                                    <div class="venue-info-title">
                                        <h2 class="text-white mb-0">Times Square</h2>
                                    </div>

                                    <div class="venue-info-body">
                                        <h4 class="d-flex">
                                            <i class="bi-geo-alt me-2"></i> 
                                            <span>Doddaballapur Rd, Kodigehalli</span>
                                        </h4>

                                        <h5 class="mt-4 mb-3">
                                            <a href="mailto:hello@yourgmail.com">
                                                <i class="bi-envelope me-2"></i>
                                                rljitmgmt@rljit.com
                                            </a>
                                        </h5>

                                        <h5 class="mb-0">
                                            <a href="tel: 305-240-9671">
                                                <i class="bi-telephone me-2"></i>
                                                080-124-3222
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="contact section-padding" id="section_5">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-8 col-12 mx-auto">
                                <form class="custom-form contact-form bg-white shadow-lg"  method="post">
                                    {% csrf_token %}
                                    <h2>Please Say Hi</h2>

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-12">                                    
                                            <input type="text" name="txtName" id="txtName" class="form-control" oninput="validateTextbox(this,true,'Enter name')" placeholder="Name" >
                                            <div class="form-error-msg"></div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-12">         
                                            <input type="email" name="txtEmail" id="txtEmail" oninput="validateTextbox(this,true,'Enter email')" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email" >
                                            <div class="form-error-msg"></div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-12">                                    
                                            <input type="text" name="txtSubject" id="txtSubject" oninput="validateTextbox(this,true,'Enter subject')" class="form-control" placeholder="Subject">
                                            <div class="form-error-msg"></div>
                                        </div>

                                        <div class="col-12">
                                            <textarea class="form-control" rows="5" id="txtMessage" name="txtMessage" oninput="validateTextbox(this,true,'Enter subject')" placeholder="Message"></textarea>
                                            <div class="form-error-msg"></div>
                                        </div>
                                        <button type="button" class="form-control" id="btnSubmit" onclick=validateForm()>Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </section>

            </main>

            
        {% endblock content %}


        {% block jslinks %}
        <!-- JAVASCRIPT FILES -->
{% load static %}
<script src="{% static 'slick/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
{% comment %} <script src="{% static 'js/click-scroll.js' %}"></script> {% endcomment %}
<script src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript">
    var _isFocus;
    $(document).ready(function(){
        $('.slick-banner').slick({
            dots: true,
            infinite: true,
            autoplay:true,
            fade: true,
            cssEase: 'linear'
        });
    });
         
    
    validateForm = function(){
        var save=true
        _isFocus=true
        console.log("form called")
        if(!validateTextbox("#txtName",true,"Enter name")) save=false
        if(!validateTextbox("#txtEmail",true,"Enter email")) save=false
        if(!validateTextbox("#txtSubject",true,"Enter subject")) save=false
        if(!validateTextbox("#txtMessage",true,"Enter message")) save=false

        if(save){
            $("#btnSubmit").attr("type","submit")
        }
    }

    validateTextbox=function(obj,triggerfocus, message){
        hideError(obj)
        if($(obj).val()=="-1"){
            showError(obj,"Select time zone")
            if(!_isFocus){
                if(triggerfocus) $(obj).focus()
                _isFocus=true
            }
            return false
        }
        return true                   
    }

    hideError = function(obj){
        $(obj).siblings(".form-error-msg").hide()
    }
                        
    showError = function(obj,msg){
        $(obj).siblings(".form-error-msg").text(msg).show()
    }
</script>
{% endblock jslinks%}
